msTranslator:
  client:
    subscriptionKey: dummy
  language:
    source: en
    destination: ja
spring:
  cache:
    type: simple # To use redis as cache, make this option 'redis'
  data:
    redis:
      host: 127.0.0.1
      port: 6379
